<div class="messenger-widget">
    <div class="messenger-widget__container">
        <a href="#" class="messenger-widget__viber" style="background: #6A60AF;"><svg><use xlink:href="./assets/images/svg/sprite.svg#viberMessengerIcon"></use></svg></a>
        <a href="#" class="messenger-widget__whatsup" style="background: #24CC62;"><svg><use xlink:href="./assets/images/svg/sprite.svg#whatsupMessengerIcon"></use></svg></a>
        <a href="#" class="messenger-widget__facebook" style="background: linear-gradient(209.58deg, #F8636A 13.15%, #B63FCD 45.64%, #1387F7 91.17%);"><svg><use xlink:href="./assets/images/svg/sprite.svg#facebookMessengerIcon"></use></svg></a>
        <a href="#" class="messenger-widget__just" style="background:#06784F"><svg><use xlink:href="./assets/images/svg/sprite.svg#justMessengerIcon"></use></svg></a>
    </div>
    <button type="button" class="messenger-widget__btn">
        <svg class="messenger-widget__btn-icon"><use xlink:href="./assets/images/svg/sprite.svg#messageIcon"></use></svg>
        <svg class="messenger-widget__btn-close"><use xlink:href="./assets/images/svg/sprite.svg#closeIcon"></use></svg>
    </button>
</div>