<div class="modal modal--consultation" data-modal="success">
    <div class="modal__container">
        <header>
            <h4>Заказать консультацию</h4>
            <button class="modal__close modal-close-btn"><svg><use xlink:href="./assets/images/svg/sprite.svg#closeIcon"></use></svg></button>
        </header>
        <div class="modal__wrapper">
            <p>Твоя заявка на консультацию была успшено отправлена. В скором времени один из наших специалистов свяжется с тобой</p>
            <button type="button" class="modal__close-text modal-close-btn">Заркыть</button>
        </div>
    </div>
</div>