<header class="header">
    <div class="header__container container__1150px">
        <div class="header__contacts">
            <button class="burger" aria-label="burger">
                <span></span>
                <svg></svg>
            </button>
            <a href="./index.html" class="header__contacts-logo"><img src="./assets/images/svg/logo.svg" alt="logo"></a>
            <a href="tel:+37376011515" class="header__contacts-phone">+373 76 011 515</a>
            <div class="lang-switcher lang-switcher--dk">
                <button type="button" class="lang-switcher__btn active">Ro</button>
                <button type="button" class="lang-switcher__btn">Ru</button>
            </div>
            <a href="#" class="header__contacts-call">
                <svg><use xlink:href="./assets/images/svg/sprite.svg#phoneIcon"></use></svg>
                <span>Заказать звонок</span>
            </a>
        </div>
        <nav class="header__nav">
            <ul>
                <li>
                    <div class="header__nav-item-header">
                        <a href="#">Окно</a>
                        <svg class="link__arrow"><use xlink:href="./assets/images/svg/sprite.svg#smallArrow"></use></svg>
                    </div>
                    <div class="header__drop-down">
                        <a href="#">Окна ПВХ</a>
                        <a href="#">Аллюминиевые окна</a>
                        <a href="#">Балконные окна</a>
                    </div>
                </li>
                <li>
                    <div class="header__nav-item-header">
                        <a href="#">Двери</a>
                        <svg class="link__arrow"><use xlink:href="./assets/images/svg/sprite.svg#smallArrow"></use></svg>
                    </div>
                    <div class="header__drop-down">
                        <a href="#">Окна ПВХ</a>
                        <a href="#">Аллюминиевые окна</a>
                        <a href="#">Балконные окна</a>
                    </div>
                </li>
                <li>
                    <div class="header__nav-item-header">
                        <a href="#">Роллеты</a>
                        <svg class="link__arrow"><use xlink:href="./assets/images/svg/sprite.svg#smallArrow"></use></svg>
                    </div>
                    <div class="header__drop-down">
                        <a href="#">Окна ПВХ</a>
                        <a href="#">Аллюминиевые окна</a>
                        <a href="#">Балконные окна</a>
                    </div>
                </li>
                <li>
                    <div class="header__nav-item-header">
                        <a href="#">Москитные сетки</a>
                        <svg class="link__arrow"><use xlink:href="./assets/images/svg/sprite.svg#smallArrow"></use></svg>
                    </div>
                    <div class="header__drop-down">
                        <a href="#">Окна ПВХ</a>
                        <a href="#">Аллюминиевые окна</a>
                        <a href="#">Балконные окна</a>
                    </div>
                </li>
                <li>
                    <div class="header__nav-item-header">
                        <a href="#">Дополнения</a>
                        <svg class="link__arrow"><use xlink:href="./assets/images/svg/sprite.svg#smallArrow"></use></svg>
                    </div>
                    <div class="header__drop-down">
                        <a href="#">Окна ПВХ</a>
                        <a href="#">Аллюминиевые окна</a>
                        <a href="#">Балконные окна</a>
                    </div>
                </li>
                <li><div class="header__nav-item-header"><a href="#">Калькулятор</a></div></li>
                <li><div class="header__nav-item-header"><a href="#">Блог</a></div></li>
                <li><div class="header__nav-item-header"><a href="#">Контакты</a></div></li>
            </ul>
        </nav>
    </div>
</header>